# =========================
# Unity Generated
# =========================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# =========================
# IDE
# =========================

.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Unity Cache
# =========================

MemoryCaptures/

# =========================
# Addressables
# =========================

ServerData/

# =========================
# Ignore crash reports
# =========================

sysinfo.txt