# =========================
# Unity Generated
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# =========================
# IDE
# =========================
.vscode/
.idea/
.vs/

*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Unity Cache
# =========================
MemoryCaptures/

# =========================
# Addressables
# =========================
ServerData/

# =========================
# Ignore crash reports
# =========================
sysinfo.txt

# =========================
# Temp & Backup Files
# =========================
*.tmp
*.bak
*.swp

# =========================
# Build Files
# =========================
*.apk
*.aab
*.unitypackage